Check SIA caRepository and rpkiManifest are aligned

Prevent generating objects that violate:
```
rpki-client: ta/test/ta.cer: RFC 6487 section 4.8.8: SIA: conflicting URIs for caRepository and rpkiManifest
rpki-client: all files parsed: generating output
```